<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Mesas</title>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/fichasHome.css">
</head>

<body>

    <header class="main-header">
        <div class="header-content">
            <h1>Fichas Express</h1>

            <nav class="header-nav">
                <ul>
                    <li><a href="">Minhas Mesas</a></li>
                    <li><a href="">Comunidade</a></li>
                    <li><a href="">Pefil</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main-content">
        <h2>Suas Fichas!!</h2>

        <div>

            <div class="button-container">
                <a href="#" class="action-button"></a>
            </div>

        </div>
    </main>


    </main>

</body>

</html>