<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abyssal System</title>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/fichasOrdemAbyssal.css">

</head>

<body>

    <header class="main-header">
        <div class="header-content">
            <h1>Fichas Express</h1>

            <nav class="header-nav">
                <ul>
                    <li><a href="">Minhas Mesas</a></li>
                    <li><a href="">Comunidade</a></li>
                    <li><a href="">Pefil</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="card">
            <h2>Informações Básicas</h2>
            <div class="char-info">
                <img src="/img/1361728.png" alt="Avatar do Personagem" width="100px">
                <div class="details">
                    <div class="form-group">
                        <label for="inpPersonagem">Personagem:</label>
                        <input type="text" id="inpPersonagem">
                    </div>
                    <div class="form-group">
                        <label for="inpJogador">Jogador(a):</label>
                        <input type="text" id="inpJogador">
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="classes">Classe:</label>
                    <select name="Classes" id="classes">
                        <option value="combatente">Combatente</option>
                        <option value="especialista">Especialista</option>
                        <option value="ocultista">Ocultista</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sub-classes">Sub-Classe:</label>
                    <select name="subClasses" id="subClasses">
                        <option value="costureiro">Costureiro</option>
                        <option value="detetive">Detetive</option>
                        <option value="lutador">Lutador</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="origem">Origem:</label>
                    <select name="Origem" id="origem">
                        <option value="academico">Acadêmico</option>
                        <option value="atleta">Atleta</option>
                        <option value="vitima">Vítima</option>
                        <option value="vitima">Vítima</option>
                        <option value="vitima">Vítima</option>
                        <option value="vitima">Vítima</option>
                        <option value="vitima">Vítima</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="nex">NEX:</label>
                    <input type="text" id="nex" placeholder="5%">
                </div>
                 <div class="form-group">
                    <label for="ne">NE:</label>
                    <input type="text" id="ne" placeholder="1">
                </div>
            </div>
        </div>

        <div class="card">
            <h2>Atributos & Defesas</h2>
            <div class="attributes-grid">
                <div class="form-group">
                    <label>AGI</label>
                    <input type="text" placeholder="0">
                </div>
                <div class="form-group">
                    <label>FOR</label>
                    <input type="text" placeholder="0">
                </div>
                <div class="form-group">
                    <label>INT</label>
                    <input type="text" placeholder="0">
                </div>
                <div class="form-group">
                    <label>PRE</label>
                    <input type="text" placeholder="0">
                </div>
                <div class="form-group">
                    <label>VIG</label>
                    <input type="text" placeholder="0">
                </div>
            </div>
             <div class="form-row">
                <div class="form-group">
                    <label>Defesa</label>
                    <input type="text" placeholder="10">
                </div>
                <div class="form-group">
                    <label>Reflexo</label>
                    <input type="text" placeholder="10">
                </div>
            </div>
        </div>

        <div class="card">
            <h2>Atributos & Defesas</h2>
            <div class="attributes-grid">
                <div class="form-group">
                    <label>AGI</label>
                    <input type="text" placeholder="0">
                </div>
                <div class="form-group">
                    <label>FOR</label>
                    <input type="text" placeholder="0">
                </div>
                <div class="form-group">
                    <label>INT</label>
                    <input type="text" placeholder="0">
                </div>
                <div class="form-group">
                    <label>PRE</label>
                    <input type="text" placeholder="0">
                </div>
                <div class="form-group">
                    <label>VIG</label>
                    <input type="text" placeholder="0">
                </div>
            </div>
             <div class="form-row">
                <div class="form-group">
                    <label>Defesa</label>
                    <input type="text" placeholder="10">
                </div>
                <div class="form-group">
                    <label>Reflexo</label>
                    <input type="text" placeholder="10">
                </div>
            </div>
        </div>

        <div class="card skills-table">
             <h2>Perícias</h2>
            <table>
                <thead>
                    <tr>
                        <th>Perícia</th>
                        <th>Modificador</th>
                        <th>Nível de Treino</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ACROBACIA </td>
                        <td><input type="text" placeholder="0"></td>
                        <td><input type="text" placeholder="0"></td>
                    </tr>
                    <tr>
                        <td>ADESTRAMENTO*</td>
                        <td><input type="text" placeholder="0"></td>
                        <td><input type="text" placeholder="0"></td>
                    </tr>
                    <tr>
                        <td>ARTES*</td>
                        <td><input type="text" placeholder="0"></td>
                        <td><input type="text" placeholder="0"></td>
                    </tr>
                    <tr>
                        <td>VONTADE</td>
                        <td><input type="text" placeholder="0"></td>
                        <td><input type="text" placeholder="0"></td>
                    </tr>
                    <tr>
                        <td>VONTADE</td>
                        <td><input type="text" placeholder="0"></td>
                        <td><input type="text" placeholder="0"></td>
                    </tr>
                    <tr>
                        <td>VONTADE</td>
                        <td><input type="text" placeholder="0"></td>
                        <td><input type="text" placeholder="0"></td>
                    </tr>
                    <tr>
                        <td>VONTADE</td>
                        <td><input type="text" placeholder="0"></td>
                        <td><input type="text" placeholder="0"></td>
                    </tr>
                    <tr>
                        <td>VONTADE</td>
                        <td><input type="text" placeholder="0"></td>
                        <td><input type="text" placeholder="0"></td>
                    </tr>
                    <tr>
                        <td>VONTADE</td>
                        <td><input type="text" placeholder="0"></td>
                        <td><input type="text" placeholder="0"></td>
                    </tr>
                    <tr>
                        <td>VONTADE</td>
                        <td><input type="text" placeholder="0"></td>
                        <td><input type="text" placeholder="0"></td>
                    </tr>
                    <tr>
                        <td>VONTADE</td>
                        <td><input type="text" placeholder="0"></td>
                        <td><input type="text" placeholder="0"></td>
                    </tr>
                    <tr>
                        <td>VONTADE</td>
                        <td><input type="text" placeholder="0"></td>
                        <td><input type="text" placeholder="0"></td>
                    </tr>
                    <tr>
                        <td>VONTADE</td>
                        <td><input type="text" placeholder="0"></td>
                        <td><input type="text" placeholder="0"></td>
                    </tr>
                    <tr>
                        <td>VONTADE</td>
                        <td><input type="text" placeholder="0"></td>
                        <td><input type="text" placeholder="0"></td>
                    </tr>
                    <tr>
                        <td>VONTADE</td>
                        <td><input type="text" placeholder="0"></td>
                        <td><input type="text" placeholder="0"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

</body>

</html>