<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fichas Express</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Alkatra&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <main>

    <div class="central-container">

      <div class="box">
        <form action="mesas" method="post">
          <div class="inputs-box">
            <div>
              <label for="">Email</label>
              <input type="email" name="email" id="email" placeholder="Email">
            </div>

            <div>
              <label for="">Senha</label>
              <input type="password" name="password" id="password" placeholder="Senha">
            </div>

            <p>Não tem conta ainda? <a href="/view/registrar.html">Registrar agora</a></p>

            <input id="btn-login" type="button" value="Enviar">
          </div>
        </form>
      </div>
    </div>

  </main>

</body>

<script src="/js/controller/authController.js"></script>
</html>