<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Conta</title>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="central-container">

      <div class="box">
        <form action="registerController" method="post">
          
          <div class="inputs-box">
            <div>
              <label for="">Player:</label>
              <input type="text" name="player" id="player" placeholder="Nome">
            </div>

            <div>
              <label for="">Email:</label>
              <input type="email" name="email" id="email" placeholder="Seu.email@email.com">
            </div>

            <div>
              <label for="">Senha:</label>
              <input type="password" name="password" id="password" placeholder="Senha">
            </div>
            
            <div>
              <label for="">Confirmar Senha:</label>
              <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirmar Senha">
            </div>

            <input id="btn-register" type="button" value="Registrar">
          </div>
        </form>
      </div>
    </div>

    <script src="/js/controller/registerController.js"></script>
</body>
</html>