

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem 2rem;
    text-align: center;
}

.main-content h2 {
    font-size: 2.8rem;
    color: #A4133C; 
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.main-content p {
    font-size: 1.5rem;
    color: #e0e0e0; 
    padding: 1rem 0;
    margin-bottom: 2.5rem;
    max-width: 600px;
    font-family: Arial, Helvetica, sans-serif;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.action-button {
    background: linear-gradient(145deg, #c9184a, #A4133C);
    color: #ffffff;
    padding: 25px 45px;
    border-radius: 12px;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.action-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(164, 19, 60, 0.3);
    background: linear-gradient(145deg, #A4133C, #800f2f);
}