/* Cores Definidas:
   Crimson Red : #A4133C
   Shadow Black : #1A1A1A
*/

body {
    background-color: #1A1A1A; /* Shadow Black aplicado ao fundo */
    margin: 0;
}

.central-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background-color: #ffffff; 
    padding: 40px; 
    border-radius: 8px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); /* Sombra um pouco mais forte para contraste */
    width: 100%;
    max-width: 400px; 
    text-align: center; 
}

.inputs-box {
    display: flex;
    flex-direction: column; 
    gap: 30px; 
    text-align: left;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    color: #1A1A1A; /* Texto do label em Shadow Black */
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: calc(100% - 20px); 
    padding: 15px 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box; 
}

input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="text"]::placeholder {
    color: #aaa;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
    border-color: #A4133C; /* Crimson Red no foco */
    outline: none; 
    box-shadow: 0 0 0 2px rgba(164, 19, 60, 0.2); /* Crimson Red suave na sombra */
}

p {
    font-size: 0.9rem;
    color: #666;
}

p a {
    color: #A4133C; /* Links em Crimson Red */
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}

input[type="button"] {
    background-color: #A4133C; /* Botão principal em Crimson Red */
    color: #ffffff;
    padding: 12px 10px;
    margin: 0px 50px;
    border-radius: 3px;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

input[type="button"]:hover {
    background-color: #8a0f32; 
}